body{
    background:url(https://images.pexels.com/photos/1144259/pexels-photo-1144259.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img{
    cursor: pointer;
}

.hide{
    display: none !important;
}

.w85{
    width: 85%;
}

.done{
    color: gray;
    text-decoration: line-through;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

.round {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.corner {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: #000;
}

.new-todo {
    position: relative;
}

.wid{
    width: 50%;
}

@media only screen and (max-width: 992px) {
    .wid{
        width: 75%;
    }
  }

@media only screen and (max-width: 767px) {
    .wid{
        width: 100%;
    }
    body{
        background: url(../bg.svg);
    }
  }